@tailwind base;
@tailwind components;
@tailwind utilities;

.absolute-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

.text-shine-purple {
    @apply bg-clip-text text-transparent;
    background-image: linear-gradient(80deg, oklch(0.714 0.203 305.504) 35%, oklch(0.902 0.063 306.703) 45%, white 50%, oklch(0.902 0.063 306.703) 55%, oklch(0.714 0.203 305.504) 65%);
    animation: shine 30s ease-in-out infinite;
    background-size: 400%;
}

/* --------------------------------------------------------------------------------------- */

/*********** Baseline, reset styles ***********/
input[type="range"] {
    @apply w-full;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
}

/* Removes default focus */
input[type="range"]:focus {
    outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
    background: linear-gradient(to right, oklch(0.714 0.203 305.504), oklch(0.496 0.265 301.924));
    border-radius: 0.5rem;
    height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    margin-top: -4px;
    /* Centers thumb on the track */
    background-color: #ffffff;
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
    background-color: #bb00ff;
    border-radius: 0.5rem;
    height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
    background-color: #ffffff;
    border: none;
    /*Removes extra border that FF applies*/
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
}

/* --------------------------------------------------------------------------------------- */

.hero-box-shadow::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0px -100px 200px black, inset 0px -50px 50px black;
    pointer-events: none;
}

.hero-pulse {
    animation: hero-pulse 5s ease-in-out infinite;
}

/* ANIMATION */

@keyframes shine {
    0% {
        background-position: 250%;
    }

    20% {
        background-position: 100%;
    }

    50% {
        background-position: 100%;
    }

    70% {
        background-position: 0%;
    }
}

@keyframes hero-pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

/* ------------------------------- TOP PROJECT ------------------------------ */

.conic-gradient {
    background: conic-gradient(black 0deg, oklch(0.714 0.203 305.504) 180deg, black 180deg, oklch(0.714 0.203 305.504) 360deg);
    scale: 2.3;
    animation: rotate 5s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.fade-in {
    animation: fade-in forwards ease-in-out;
}

@keyframes fade-in {
    from {
        opacity: 0;
        /* transform: translateY(50px); */
    }
    to {
        opacity: 1;
        /* transform: translateY(0px); */
    }
}